<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEncuestaService"/>
        <binding name="BasicHttpBinding_ICatalogoServices"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:47456/EncuestaService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEncuestaService" contract="EncuestaService.IEncuestaService" name="BasicHttpBinding_IEncuestaService"/>
      <endpoint address="http://localhost:47456/CatalogoServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatalogoServices" contract="CatalogoService.ICatalogoServices" name="BasicHttpBinding_ICatalogoServices"/>
      <!--<endpoint address="http://10.142.6.55:7077/EncuestaService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEncuestaService" contract="EncuestaService.IEncuestaService" name="BasicHttpBinding_IEncuestaService"/>-->
      <!--<endpoint address="http://10.142.6.55:7077/CatalogoServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatalogoServices" contract="CatalogoService.ICatalogoServices" name="BasicHttpBinding_ICatalogoServices"/>-->
      <!--<endpoint address="http://10.142.16.136:8099/EncuestaService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEncuestaService" contract="EncuestaService.IEncuestaService" name="BasicHttpBinding_IEncuestaService"/>-->
      <!--<endpoint address="http://10.142.16.136:8099/CatalogoServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatalogoServices" contract="CatalogoService.ICatalogoServices" name="BasicHttpBinding_ICatalogoServices"/>-->
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="footerAzteca" value="Azteca Comunicaciones Colombia"/>
    <add key="footerYear" value="2013"/>
    <add key="FormularioID" value="7"/>
    <add key="ProyectoID" value="8"/>
    <!--<add key="FormularioID" value="12"/>
    <add key="ProyectoID" value="8"/>-->
    <add key="GridViewsRegistrosPorPagina" value="10"/>
    <!-- Configuración personalizada -->
    <!-- Reportes -->
    <!--<add key="ReportAuthUser" value="AppReportes" />
    <add key="ReportAuthPwd" value="r3p0rt3sSSRS!@z123" />
    <add key="ReportHost" value="http://10.142.6.57" />
    <add key="ReportDomain" value="AZTECOM" />
    <add key="ReportServer" value="ReportServer" />
    <add key="ReportPathSabanaEncuestas" value="/Reportes Planeacion/Reporte Respuestas Encuesta Satisfacción KVD" />
    <add key="ReportPathEncuestasUsuario" value="/Reportes Planeacion/Reporte de Encuestas por Usuario" />-->
    <add key="ReportAuthUser" value="AppReportes" />
    <add key="ReportAuthPwd" value="@ppR3p0rt3sAz" />
    <add key="ReportHost" value="http://10.142.18.137" />
    <add key="ReportDomain" value="AZTECOL" />
    <add key="ReportServer" value="ReportServer" />
    <add key="ReportPathCVEmployee" value="/Reportes Sistema de Información en Línea - KVD/Encuestas Satisfacción/Reporte Respuestas Encuesta Satisfacción KVD" />
    <add key="ReportPathEncuestasUsuario" value="/Reportes Sistema de Información en Línea - KVD/Encuestas Satisfacción/Reporte de Encuestas por Usuario" />
    
    <!-- Reportes -->
  </appSettings>
</configuration>